/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a
Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4
Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac
Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/

/*
*
* catppuccin palette
*
*/

@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust rgba(4, 5, 7, 1);

@define-color text #f4f4f9;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color peach #fab387;

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
  color: @text;
  border: 1px;
  border-radius: 0px;
  padding: 0 0;
  font-family: JetBrainsMono, SymbolsNerdFont;
  font-size: 15px;
  margin-right: 2px;
  margin-left: 2px;
  padding-bottom: 2px;
}

window#waybar {
  /* background:#2e3440; */
  background: #040507;
  background-color: rgba(04, 05, 07, 0.8);
}

#workspaces button {
  padding: 2px 8px;
  border-bottom: 2px;
  color: @text;
  border-color: #d8dee9;
  border-style: solid;
  margin-top: 2px;
}

#workspaces button.focused {
  border-color: @blue;
}

#mode {
  color: @yellow;
}

#custom-launcher,
#mode,
#window,
#network,
#custom-updates,
#custom-keyboard-layout,
#cpu,
#temperature,
#memory,
#idle_inhibitor,
#backlight,
#pulseaudio,
#battery,
#clock,
#tray,
#custom-power {
  padding: 2px 8px;
  border: 1px;
  border-bottom: 2px;
  border-style: solid;
  border-radius: 5px;
  margin-top: 1px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-launcher {
  border-style: hidden;
  margin-top: 2px;
}

#mode {
  margin-bottom: 3px;
}

#window {
  border-style: hidden;
  margin-top: 1px;
}

#network {
  color: @blue;
}

#network.disabled,
#network.disconnected {
  color: @red;
}

#custom-updates {
  color: @yellow;
}

#custom-keyboard-layout {
  color: @red;
}

#cpu {
  color: @green;
}

#temperature {
  color: @teal;
}

#temperature.critical {
  color: @red;
}

#memory {
  color: @mauve;
}

#idle_inhibitor {
  color: @blue;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @mauve;
}

#pulseaudio.muted {
  color: #3b4252;
}

#battery {
  color: @lavender;
}

#battery.charging {
  color: @blue;
}

@keyframes blink {
  to {
    color: #4c566a;
    background-color: @text;
  }
}

#battery.critical:not(.charging) {
  background: @red;
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: @green;
}

#tray {
}

#custom-power {
  border-style: hidden;
  margin-top: 2px;
}
