@import "mocha.css";

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  margin-top: 8px;
  margin-left: 5px;
  /* background: @lavender; */
  background: @crust;
  border-radius: 999em;
}

#workspaces button {
  color: @text;
  padding: 0.2rem;
  border-radius: 0;
  margin-bottom: 3px;
}

#workspaces button.active {
  color: @yellow;
}

#workspaces button:hover {
  color: @green;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#memory,
#cpu,
#window,
#custom-kernel {
  padding: 0.4rem 1rem;
  color: @text;
  border-radius: 999em;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 3px;
  background: @crust;
}

#custom-kernel {
  color: @lavender;
}

#window {
  color: @red;
}

#clock {
  color: @lavender;
}

#memory {
  color: @blue;
}

#cpu {
  color: @red;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @peach;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @lavender;
}

#custom-music {
  color: @green;
}

#custom-lock {
  color: @peach;
}

#custom-power {
  color: @red;
}
