@import "mocha.css";

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: @crust;
  color: @text;
  margin: 2px 0px;
}

#workspaces {
  margin: 3px;
  background: @lavender;
  border-radius: 999em;
}

#workspaces button {
  color: @crust;
  padding: 0.2rem;
  border-radius: 0;
}

#workspaces button.active {
  color: @yellow;
}

#workspaces button:hover {
  color: @green;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#memory,
#cpu,
#window,
#custom-kernel {
  padding: 0.2rem 1rem;
  color: @crust;
  border-radius: 999em;
  margin-right: 8px;
  margin-bottom: 3px;
}

#custom-kernel {
  background: @lavender;
}

/* #window { */
/*   color: @red; */
/* } */

#clock {
  background: @lavender;
}

#memory {
  background: @peach;
}

#cpu {
  background: @lavender;
}

#battery {
  background: @peach;
}

#battery.charging {
  background: @peach;
}

#battery.warning:not(.charging) {
  background: @red;
}

#backlight {
  background: @yellow;
}

#pulseaudio {
  background: @lavender;
}

#custom-music {
  color: @green;
}

#custom-lock {
  color: @peach;
}

#custom-power {
  color: @red;
}
