@import "mocha.css";

* {
	font-family: BlexMono Nerd Font;
	font-size: 18px;
	min-height: 0;
}

#waybar {
	background: @crust;
	color: @text;
	margin: 2px 0px;
}

#workspaces {
	margin: 2px;
}

#workspaces button {
	color: @lavender;
	padding: 0.4rem;
	border-radius: 0;
}

#workspaces button.active {
	color: @mauve;
}

#workspaces button:hover {
	color: @sapphire;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#window {
	padding: 0.5rem 1rem;
}

#clock {
	color: @blue;
	border-radius: 0px 1rem 1rem 0px;
}

#battery {
	color: @green;
}

#battery.charging {
	color: @green;
}

#battery.warning:not(.charging) {
	color: @red;
}

#backlight {
	color: @yellow;
}

#backlight,
#battery {
	border-radius: 0;
}

#pulseaudio {
	color: @maroon;
}

#custom-music {
	color: @mauve;
}

#custom-lock {
	color: @lavender;
}

#custom-power {
	color: @red;
}
