* {
  border: none;
  border-radius: 0px;
  /* `ttf-font-awesome` is required to be installed for icons */
  font-family: "JetbrainsMono Nerd Font", Helvetica, Arial, sans-serif;

  /* adjust font-size value to your liking: */
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  /*background-color: rgba(04, 05, 07, 1);*/
  background-color: #040507;
  color: #ffffff;
}

#workspaces button {
  padding: 0 4px;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  border-radius: 6px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
  background-color: #1e1e2e;
  color: #ffffff;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0px 3px;
  margin: 4px 0px;
  color: #ffffff;
  border-radius: 4px;
}

#window,
#workspaces {
  margin: 0 4px;
}

#workspaces button {
  border-radius: 0px;
}

#workspaces button.active {
  background-color: #b4befe;
  color: #040507;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#clock {
  /*color: #b4befe;*/
  /*color: #040507;*/
}

#battery {
  /*color: #f5c2f7;*/
  /*color: #040507;*/
}

#battery.charging {
  /*color: #f5c2f7;*/
  /*color: #040507;*/
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  /*color: #f5c2e7;*/
  /*color: #040507;*/
}

#memory {
  /*color: #b4befe;*/
  /*color: #040507;*/
}

#backlight {
  background-color: #000000;
  color: white;
}

#network {
  background-color: #000000;
  color: white;

}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  /*color: #b4befe;*/
  /*color: #040507;*/
  margin: 4px 20px;
}

#pulseaudio.muted {
  /*color: #b4befe;*/
  /*color: #040507;*/
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #2980b9;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #bbccdd;
  color: #333333;
  padding: 0 5px;
  margin: 6px 3px;
  min-width: 16px;
}
